<header class="site-header">
  <div class="container navbar">
    <div class="logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Bloghore Logo" />
        <span>Bloghore</span>
      </a>
    </div>

    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/pages/category.html' | relative_url }}">Category</a></li>
      <li><a href="{{ '/pages/archive.html' | relative_url }}">Archive</a></li>
      <li><a href="{{ '/pages/about.html' | relative_url }}">About</a></li>
    </ul>

    <div class="lang-switch">
      <select id="lang-switch">
        <option value="id" {% unless page.lang == "en" %}selected{% endunless %}>Indonesia</option>
        <option value="en" {% if page.lang == "en" %}selected{% endif %}>English</option>
      </select>
    </div>
  </div>
</header>
