---
layout: default
title: Archive
---

<section class="archive-page container">
  <h1>Arsip Artikel</h1>

  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

  {% for year_group in posts_by_year %}
    <h2 class="archive-year">{{ year_group.name }}</h2>

    {% assign posts_by_month = year_group.items | group_by_exp: "post", "post.date | date: '%B'" %}

    {% for month_group in posts_by_month %}
      <h3 class="archive-month">{{ month_group.name }}</h3>
      <ul class="archive-list">
        {% for post in month_group.items %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <small>{{ post.date | date: "%d %b %Y" }}</small>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}
</section>
