---
layout: default
title: Arsip
permalink: /pages/archive.html
---

<section class="archive-page container">
  <h1 class="section-title">Arsip Blog</h1>

  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <div class="archive-group">
      <h2>{{ year.name }}</h2>
      <ul>
        {% for post in year.items %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date: "%d %B" }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
