---
layout: default
---

<section class="category-detail container">
  {% assign posts_in_category = site.categories[page.title] %}
  <h1>Kategori: {{ page.title | replace: '-', ' ' | capitalize }}</h1>

  {% if posts_in_category %}
    <p class="category-count">Total {{ posts_in_category | size }} artikel dalam kategori ini.</p>
    <div class="grid-list">
      {% for post in posts_in_category %}
        {% include grid-card.html post=post %}
      {% endfor %}
    </div>
  {% else %}
    <p>Tidak ada post dalam kategori ini.</p>
  {% endif %}
</section>

