---
layout: default
---

<section class="category-detail container">
  <h1>Kategori: {{ page.title | replace: '-', | capitalize }}</h1>

  <ul class="posts-list">
    {% assign cat = page.title | downcase %}
    {% assign posts = site.categories[cat] | sort: 'date' | reverse %}
    {% for post in posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%d %B %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
