<!DOCTYPE html>
<html lang="{{ page.lang | default: 'id' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/logo.svg' | relative_url }}" type="image/svg+xml">

  <!-- Google Font: Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- SEO & Feed -->
  {% seo %}
  {% feed_meta %}
</head>

<body class="light-mode">

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
